<div class="links-section">
  <div class="video-container smaller">
    <video autoplay loop muted playsinline>
      <source src="/imgs/wd-handbrake1.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>

  <a
    href="/dashboard"
    class="sprite-animation"
    aria-label="WK"
    id="sprite"
    tabindex="0"
  ></a>
  <ul class="links top">
    <li><a href="/dashboard/underConstruction">Portfolio</a></li>
    <li><a href="/dashboard/underConstruction">Inquiry</a></li>
    <li><a href="/dashboard/underConstruction">About</a></li>
  </ul>
  <hr />
  <!-- Social Media Links -->
  <div class="social-links">
    <a href="https://github.com/wnkinc" target="_blank" class="social github">
      <i class="fab fa-github"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/wesley-klaassen/"
      target="_blank"
      class="social linkedin"
    >
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
  <hr />
  <ul class="links bottom">
    <li><a href="/dashboard/underConstruction">Code of Conduct</a></li>
    <li><a href="/dashboard/underConstruction">Privacy Policy</a></li>

    <li><a href="/dashboard/underConstruction">Contact</a></li>
  </ul>
</div>
